<!DOCTYPE html>
<html>
<head>
  <title>Contact Us</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/contact.css">
  <link href="/css/footer.css" rel="stylesheet" type="text/css">
</head>
<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar">
    <a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/blog">Blog</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
</nav>
    </div>
  </header>

<div class="site-section bg-light" id="contact-section gap100" style="padding-top: 100px;">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2 class="text-black section-title text-uppercase">Contact Us</h2>
            <hr>
            <p style="color: #f71e0e; font-size: 30px;">Send us your feedbacks</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-6 mb-5">
            <form action="mailto:" method="post">
              <div class="form-group row">
                <div class="col-md-6 mb-4 mb-lg-0">
                  <input type="text" class="form-control" placeholder="First name">
                </div>
                <div class="col-md-6">
                  <input type="text" class="form-control" placeholder="Last name">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <input type="text" class="form-control" placeholder="Email address">
                </div>
              </div>

              <div class="form-group row">
                <div class="col-md-12">
                  <textarea name="" id="" class="form-control" placeholder="Write your message." cols="30" rows="10"></textarea>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-6 ml-auto">
                  <input type="submit" class="btn btn-block btn-primary text-white py-3 px-5" value="Send Message">
                </div>
              </div>
            </form>
          </div>
          
        </div>
      </div>
    </div>


<!--Footer Section-->

<footer class="gap100" id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-6 footer-info">
          <h3>THE RESTORATION</h3>
          <p>
            We have a clear vision of where we need to be as we look into our envisioned future;
Restore will be recognized by the world as an authority in holistic child development, and will be a global benchmark for excellence in this field, as a result of our community intervention for the development of children.
Restore will demonstrate excellence in this vast ministry.
          </p>
        </div>
        <div class="col-lg-2 col-md-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="/">Top</a></li>
            <li><a href="/register">Volunteer</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/donate">Donate</a></li>
          </ul>
          </div>
          <div class="col-lg-3  col-md-6 footer-contact" style="color: white;">
            <h4>Locate Us</h4>
            <p>24 Block D<br>
              Toronto, Canada <br>
              <strong>Phone:</strong> +41 21132 1231 <br>
              <strong>Email:</strong>restore@gmail.com <Br>
            </p>
            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="twitter"><i class="fa fa-facebook"></i></a>
              <a href="#" class="twitter"><i class="fa fa-instagram"></i></a>
              <a href="#" class="twitter"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="twitter"><i class="fa fa-linkedin"></i></a>
              
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-newsletter">
            <h4 style="color: #f71e0e;">Our Newsletter</h4>
            <p>
              Restore will be the standard by which other community organizations are measured in terms of benefit to the child and immediate community. We will develop such efficient and timely processes, that a child and his caregiver can be identified today and registered by the following day. 

            </p>
            <form accept="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
              
            </form>  
          </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div style="color: #fff;" class="copyright">
       Copyright &copy; 2020  | All rights reserved | <strong style="color: #f71e0e">The</strong> Restoration 
      
    </div>
    
  </div>
</footer>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>