<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/lightbox.css">
	<title>Document</title>
</head>
<body>
	<section class="gallery py-lg-4 py-md-3 py-sm-3 py-3">
		<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
			<h3 class=" text-center mb-lg-5 mb-md-4 mb-sm-4 mb-3">Responsive Gallery</h3>
			<div class="row">
				<div class="col-lg-8 col-md-d">
					<div class="bottom-effect">
						<a href="img/1.jpg" data-lightbox="example-set" data-title="responsive-gallery">
						<figure>
							<img src="img/2.jpg" class="img-fluid">
						</figure>
					</a>
					<div class="overlay overlayBottom">
						<div class="text">Gallery</div>
						
					</div>
					</div>
					<div class="row">
						<div class="col-lg-6 col-md-6">
							<div class="bottom-effect">
						<a href="img/1.jpg" data-lightbox="example-set" data-title="responsive-gallery">
						<figure>
							<img src="img/1.jpg" class="img-fluid">
						</figure>
					</a>
					<div class="overlay overlayBottom">
						<div class="text">Gallery</	>
						
					</div>
					</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
							<div class="bottom-effect">
						<a href="img/2.jpg" data-lightbox="example-set" data-title="responsive-gallery">
						<figure>
							<img src="img/2.jpg" class="img-fluid">
						</figure>
					</a>
					<div class="overlay overlayBottom">
						<div class="text">Gallery</	>
						
					</div>
					</div>
						</div>
					</div>

					<div class="col-lg-6 col-md-6">
							<div class="bottom-effect">
						<a href="img/3.jpg" data-lightbox="example-set" data-title="responsive-gallery">
						<figure>
							<img src="img/3.jpg" class="img-fluid">
						</figure>
					</a>
					<div class="overlay overlayBottom">
						<div class="text">Gallery
						
					</div>
					</div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-md-4">
					<div class="bottom-effect">
						<a href="img/4.jpg" data-lightbox="example-set" data-title="responsive-gallery">
						<figure>
							<img src="img/4.jpg" class="img-fluid">
						</figure>
					</a>
					<div class="overlay overlayBottom">
						<div class="text">Gallery
						
					</div>
					</div>
						</div>
				</div>
			</div>
		</div>
	</section>





	

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" ></script>
<script src="js/lightbox-plus-jquery.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>